.App {
  background-color: var(--color_Light); /* Default light mode background color */
  overflow: hidden;
  color: var(--black_color);
}

.App.dark {
  background-color: var(--color_Dark); /* Dark mode background color */
  color: var(--color_Light);

}
*{
  margin: 0;
  padding: 0;
}
:root{
  --color_Light:#FFFFFF;
  --color_Dark:#202020;
  --main_color:#FFCE00;
  --black_color:#000;

}
a, button{
  cursor: pointer;
}
img{
  object-fit: cover;
}
.tajawal-extralight {
  font-family: "Tajawal", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.tajawal-light {
  font-family: "Tajawal", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tajawal-regular {
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tajawal-medium {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tajawal-bold{
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tajawal-extrabold {
  font-family: "Tajawal", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.tajawal-black {
  font-family: "Tajawal", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.ak_shadow{
  box-shadow: 10px 10px 24px rgba(43, 43, 43, 0.214);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
section{
  margin-top: 170px;
}
.section_title{
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 1000px) {
  .section_title{
    font-size: 2.5rem;
  }
} 
@media (max-width: 400px) {
  .section_title{
    font-size: 2rem;
  }
} 
.section_content{
  margin-top: 120px;
}
.lang_btn{
  background: none;
  font-size: 1.2rem;
  border: none;
}
.App.dark .lang_btn{
  color: var(--color_Light);
}
.App.dark .scrolled .lang_btn{
  color: var(--black_color);
}
.theme_btn{
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.theme_btn .moon{
  width: 24px;
  height: 24px;
  background-color: var(--color_Light);
}
.theme_btn .sun{
  width: 24px;
  height: 24px;
  background-color: var(--color_Dark);
}
.scrolled .theme_btn .sun{
  background-color: var(--color_Light);

}

@media(max-width:768px){
  .navbar-brand{
    width: 90px;
    height: 80px;
  }
  .navbar-brand img{
    width: 100%;
    height: 100%;
  }
}
nav.navbar{
  z-index: 999;
}
nav.navbar.scrolled {
  transition-duration: 700ms;
  padding: 0px 0;
  background-color: var(--color_Light);
}
.App.dark nav.navbar.scrolled .navbar-link{
  color: var(--color_Dark);
}
.App nav.navbar.scrolled .navbar-nav .active{
  color: var(--main_color);
}
.navbar-link{
  color: var(--color_Dark);
}
.App.dark .navbar-link{
  color: var(--color_Light);
}
.App.dark .navbar-nav .active{
  color: var(--main_color);
}

/* ________________________________ */
/* HERO SECTION */
.hero{
  text-align: center;
}
.hero_h1{
  font-size: 3.75rem;
  color: var(--selected_theme_color);
  text-align: center;
}
.left_content {
  position: relative;
  text-align: center;
}
.App.dark .hero .hero_logo path:nth-child(2){
  fill: var(--color_Light);
}
.App.dark .hero .hero_logo path:nth-child(3){
  fill: var(--color_Light);
}
.App.dark .hero .hero_logo path:nth-child(4){
  fill: var(--color_Light);
}

.hero .right_content span{
  color: var(--main_color);
}
.social_icons{
  display: flex;
  justify-content: center;
  align-items: center ;
  gap: 8px;
}
.social_icons a{
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 4px solid #000;
  width: 72px;
  height: 72px;
  position: relative;
  background-color: var( --color_Light);
}
.social_icons a::before {
  content: "";
  width: 68px;
  height: 68px;
  position: absolute;
  background-color: var(--main_color);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social_icons a:hover::before {
  transform: scale(1);
}
.social_icons a .social-icon img {
  width: 100%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social_icons a:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(100%) hue-rotate(346deg) brightness(100%) contrast(100%);
}
@media (max-width: 1200px) {
  .hero .left_content:after {
    display: none;
  }
  
}
@media(max-width:768px){
  .hero_h1{
    font-size: 2.5rem;
  }
  .hero .hero_logo svg{
    width: 300px;
    height: 100px;
  }
  .hero .social_icons{
    gap: 4px;
  }
  .hero .social_icons a{
    width: 35px;
    height: 35px;
    border: 2px solid #000;
  }
  .hero .social_icons a img{
    width: 22px;
    height: 22px;
  }
  .hero .social_icons a::before {
    content: "";
    width: 31px;
    height: 31px;
  }
}




.txt-rotate > .wrap {
  border-right: 0.08em solid var(--main_color);
}
/* ABOUT US SECTION */
.about_us{
  position: relative;
}
.backgroundEyeRight{
  position: absolute;
  top: -300px;
  right: -370px;
}
.backgroundEyeRight img {
  animation: updown 3s linear infinite;
}
.backgroundEyeLeft{
  position: absolute;
  top: -200px;
  left: -370px;
}
.backgroundEyeLeft img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-20px);
    }
}
.about_us .section_content{
  position: relative;
}
.about_us .section_content .content{
  position: relative;
}
.about_us .section_content .content .text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: calc(100% - 40px);
  height: 372px;
  border-radius: 20px;
  border: 4px solid var(--main_color);
  background-color: #fff;
  padding: 54px 136px;
}
.App.dark .about_us .section_content .content .text{
  background-color: var(--color_Dark);
}
.about_us .section_content .content .text p{
  font-size: 2.125rem;
}
.about_us .section_content .content .back_box{
  width: 100%;
  height: 372px;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: var(--main_color);
  border-radius: 40px;
}
@media (max-width: 1000px) {
  .about_us .section_content .content .text{
    padding: 14px 16px;
  }
  .about_us .section_content .content .text p{
    font-size: 2rem;
  }
  .backgroundEyeRight{
    display: none;
  }
  .backgroundEyeLeft{
    display: none;
  }
}
@media (max-width: 800px) {
  .about_us .section_content .content .back_box{
    border-radius: 20px;
  }
  .about_us .section_content .content .text{
    width: calc(100% - 20px);
    height: 382px;
    border-radius: 10;
  }
  .about_us .section_content .content .text p{
    font-size: 1.7rem;
  }
}
@media (max-width: 400px) {
  .about_us .section_content .content .text{
  }
  .about_us .section_content .content .text p{
    font-size: 1.3rem;
  }
}



/* SOFTWARE SERVICES */

.software_services .service_title {
  position: relative;
  overflow: hidden;
  border-top:8px solid var(--main_color);
  width: 100%;
  height: 173px;
  text-align: center;
  background-color: var(--color_Light);
}
.App.dark .software_services .service_title {
  color: var(--black_color);
}
@media(max-width: 600px){
  .software_services .service_card {
    width: 90%;
  }
}

.software_services .service_description {
  position: absolute;
  text-align: center;
  top: -50%;
  left: 0;
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  height: 173px;
  margin: 0;
  padding: 0;
}
.software_services .service_description .content {
  width: 100%;
  height: 173px;
}
.software_services .service_description .content .text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-bottom: 8px solid var(--main_color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.software_services .service_description .content .text p{
  font-size: 1rem;
  color: var(--color_Light);
  padding: 10px;

}
.software_services .service_description .content img{
  width: 100%;
  height: 100%;
  z-index: 1;
}
.software_services .service_title:hover .service_description {
  top: 0;
  opacity: 1;
}
.software_services .service_title:hover {
  border-top: 0;
}

/*DESIGN & GRAPHICS */

.design_graphics .services .service p{
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    margin: 0 10px;
    width: 100%;
}
@media(max-width:1000px){
  .design_graphics .services .service p{
    font-size: 1.5rem;
  }
}
@media(max-width:768px){
  .design_graphics .services .service p{
    font-size: 1.2rem;
  }
}

/*VIDEO EDITING & MOTION GRAPHICS*/
.video_motion{
  position: relative;
}
.video_motion .imgLeft{
  width: 100%;
  height:500px;
}
.video_motion p{
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
  margin: 0 10px;
  width: 100%;
}
@media (max-width:1000px){
  .video_motion .imgLeft{
    height: 400px;
  }
@media(max-width:858px){
  .video_motion .imgLeft{
    height: 300px;
  }
}
}

/* MARKETING */


.marketing .section_content{
  width: 100%;
  gap: 98px;
}
.marketing .section_content .row{
  width: 100%;
  gap: 24px;
}
.marketing .section_content .marketing_card{
  height: 220px;
}
.marketing .section_content .center_text{
  font-size: 2.5rem;
  text-align: center;

}
.marketing .section_content .marketing_card .marketing-text {
  font-size: 1.2rem;
  text-align: center;

}

/* JOIN US */

.join_us .row  img{
  width: 100%;
  height: 650px;
  object-fit: contain;
}
.join_us form{
  width: 100%;
}
.join_us form .form_group{
  width: 85%;
}
.join_us button{
  background-color: var(--main_color);
  width: 85%;
}
.join_us form .form_group .form-label{
  font-size: 1.5rem;
}

.join_us textarea{
  border-radius: 5px;
  border-color: #E0E3E7;
}

.footer{
  width: 100%;
  background-color: #181818;
}

.footer .social_icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .social_icons a{
  width: 52px;
  height: 52px;
  border-color: var(--color_Light);
}
.footer .social_icons a img{
  width: 32px;
  height: 32px;
}
.footer .social_icons a::before {
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  background-color: var(--main_color);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.footer .social_icons a:hover::before {
  transform: scale(1);
}
.copyrigth p{
  background-color: #161616;
  letter-spacing: 2px;
  color: var(--color_Light);
}

@media(max-width:800px){
  .footer .social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;

  }
  .footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
  }
  .footer_logo img svg{
    width: 100%;
    height: 100%;
  }
  .footer .social_icons{
    gap: 4px;
  }
  .footer .social_icons a{
    width: 20px;
    height: 20px;
    border-color: var(--color_Light);
  }
  .footer .social_icons a img{
    width: 12px;
    height: 12px;
  }
  .footer .social_icons a::before {
    content: "";
    width: 16px;
    height: 16px;
  }
  .copyrigth p{
    letter-spacing: 2px;
    padding: 30px;
  }
}
/* SLIDER CSS */
.swiper_container {
  margin-top: 60px;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem !important;
  height: 42rem;
  position: relative;
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
  filter: brightness(50%);  
}
.swiper-slide-active img{
  filter: brightness(100%);
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controller {
  position: relative;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 20px;
}


.slider-controller .slider-arrow {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: absolute;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controller .slider-arrow:after{
  width: 3.5rem;
  height: 3.5rem;
}
.slider-controller .slider-arrow.swiper-button-next{
  position: absolute;
  right: 5%
}
.slider-controller .slider-arrow.swiper-button-next:after {
  content: url("./assets/imgs/arrow-right-wide-fill.svg") !important;
  position: absolute;
  right: 5%
}
.slider-controller .slider-arrow.swiper-button-prev{
  position: absolute;
  left: 5%
}
.slider-controller .slider-arrow.swiper-button-prev:after {
  content: url("./assets/imgs/arrow-left-wide-line.svg") !important;
  position: absolute;
  left: 5%
}

.slider-controller .swiper-pagination {
  position: relative !important;
  bottom: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;
  margin-top: 40px !important;
}
.slider-controller .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.swiper-pagination-bullet-active{
  background-color:  var(--main_color) !important;
}
.swiper-button-prev{
  color: var(--main_color) !important;
}
@media(max-width:1000px){
 .slider-controller .swiper-pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  }
  .slider-controller .slider-arrow:after{
    width: 3rem;
    height: 3rem;
  }
  .swiper-slide {
    width: 20rem !important;
    height: 28rem !important;
    
  }
  .swiper-slide img {
    width: 20rem !important;
    height: 28rem !important;
  }
}



